@font-face{
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('../fonts/RobotoCondensed-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: 'A-OTF Shin Go Pro R';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro R'), url('../fonts/AOTFShinGoProRegular.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro R Sub';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro R Sub'), url('../fonts/AOTFShinGoProRegular.subset.otf') format('opentype');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro EL';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro EL'), url('../fonts/AOTFShinGoProExLight.woff') format('woff');
}


@font-face {
    font-family: 'A-OTF Shin Go Pro L';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro L'), url('../fonts/AOTFShinGoProLight.woff') format('woff');
}


@font-face {
    font-family: 'A-OTF Shin Go Pro M';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro M'), url('../fonts/AOTFShinGoProMedium.woff') format('woff');
}


@font-face {
    font-family: 'A-OTF Shin Go Pro DB';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro DB'), url('../fonts/AOTFShinGoProDeBold.woff') format('woff');
}


@font-face {
    font-family: 'A-OTF Shin Go Pro B';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro B'), url('../fonts/AOTFShinGoProBold.woff') format('woff');
}


@font-face {
    font-family: 'A-OTF Shin Go Pro H';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro H'), url('../fonts/AOTFShinGoProHeavy.woff') format('woff');
}

.audio{
  width:100%;
}
.audio audio{
  margin: 0 auto;
  display: table;
}


body{
    font-family: 'A-OTF Shin Go Pro R Sub','Roboto Condensed', sans-serif;
    font-weight: 400;
}

div#bilibiliLink:hover {
    border: 1px solid #f1bcd8 !important; /*边框颜色*/
    background-color: #f1bcd8; /*DiV背景颜色*/
    color: white !important;
    transition: background-color 0.25s ease;
}

div#weiboLink:hover {
    border:1px solid rgba(216,54,54)!important;  /*边框颜色*/
    background-color: gold;
    transition: background-color 250ms ease;
}